{% extends 'base.html' %}

{% block content %}

<!this is to remove the bullet points which is added automatically>
<style>
    .expense-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>
<!it ends here> 


<center>
    <h1>Welcome, {{ current_user.username }}!</h1>
    <h2>Your expenses:</h2>
    {% if user_cars %}
        <ul class="expense-list">
        {% for car in user_cars %}
            <li>
                {{ car.date }} - {{ car.cost }}
                <form method="POST" action="{{ url_for('delete_car', car_id=car.id) }}">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
        <h3>Total Cost: €{{ total_cost }}</h3>
        </ul>
    {% else %}
        <p>No expenses found.</p>
    {% endif %}




    <h2>Add expenses:</h2>
    <form method="POST" action="{{ url_for('create_car') }}">
        <div>
            <label for="date">Date:</label>
            <input type="text" id="date" name="date" required>
        </div>
        <div>
            <label for="cost">Cost:</label>
            <input type="text" id="cost" name="cost" required>
        </div>
        <div>
            <input type="submit" value="Add Cost">
        </div>
    </form>
</center>


{% endblock %}
