<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> 
</head>
<body style="background-color: rgb(222, 177, 240);">
    <center>
        <h1>Welcome to your Car Expense tracker!</h1>
        <h2>
            <a href="{{url_for('login')}}">Would you like to login </a>or <a href="{{url_for('register')}}">register an account?</a>
        </h2>
    </center>
    <img src="https://images.drive.com.au/driveau/image/upload/c_fill,f_auto,g_auto,h_540,q_auto:good,w_960/v1/cms/uploads/jjslyagf8e3gcny2doyy" alt = "car" style = "width: 512px; height: 128px;">
    <img src ="https://m.media-amazon.com/images/I/61HbaXv0p9L._AC_SX679_.jpg" alt = "car" style = "width: 1024px; height: 256px;"> 
</body>
</html>