<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body style="background-color: rgb(222, 177, 240);">
    <center>
    <h1>Register for an account here:</h1>

    <form method="POST" action="">
        {{form.hidden_tag()}} 
        {{form.username}} <br>
        <br>
        {{form.password}} <br>
        <br>
        {{form.submit}} 
    </form>

    <h2>
        <a href="{{url_for('login')}}">Go to Login page</a><br>
        <a href="{{url_for('home')}}">Go back Home</a><br>
    </h2>
    </center>
</body>
</html>